<mat-toolbar color="primary">
  Sign Up Flow With Firebase
  <ng-container *ngIf="authService.currentUser$ | async as user;">
    <button mat-button [mat-menu-trigger-for]="userMenu">
      <mat-icon>account_circle</mat-icon>
      {{user.email}}
      <mat-icon>expand_more</mat-icon>
    </button>
    <ng-template #loginButton>
      <button mat-button routerLink="login" (click)="logout()">
        <mat-icon>login</mat-icon>
        LogIn
      </button>
    </ng-template>
  </ng-container>
</mat-toolbar>
<div class="content">
  <router-outlet></router-outlet>
</div>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item (click)="logout()">Logout</button>
</mat-menu>