<div class="form-conteiner">
    <h1>Login</h1>
    <form action="" [formGroup]="loginForm" (ngSubmit)="submit()">
        <mat-form-field>
            <input type="text" matInput placeholder="Email addresss" formControlName="email">
            <mat-error *ngIf="f['email'].errors?.['required']">Email is required</mat-error>
            <mat-error *ngIf="f['email'].errors?.['email']">Enter Correct Email Address</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="password" matInput placeholder="Password" formControlName="password">
            <mat-error *ngIf="f['password'].errors?.['required']">Password is required</mat-error>
        </mat-form-field>
        <div class="center margin-top">
            <button mat-raised-button color="primary" type="submit">Login</button>
        </div>
        <span class="text-center margin-top">New to out platform? <a routerLink="/sign-up">Sign Up!</a></span>
    </form>
</div>